.ourClients-section {
  margin-top: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(207, 198, 205, 0.1),
      rgba(207, 198, 205, 0.1),
      rgba(255, 255, 255, 1)
    ),
    url(../../assets/BG33.jpg);
  background-size: cover;
  /* clip-path: polygon(100% 37%, 100% 100%, 0 100%, 0% 0%); */
}

.ourClient-container {
  text-align: center;
  margin-bottom: 200px;
}

.ourClient-logo {
  width: 40%;
  height: 200px;
}

.ourClient-name {
  font-size: 2rem;
  font-weight: bold;
}

.ourClients-section__header {
  color: rgb(32, 81, 145);
  text-align: center;
  font-size: 4rem;
  font-family: Hayah;
  font-weight: bold;
}

.ourClients-section__text {
  text-align: center;
  font-size: 4rem;
  font-family: Arabic;
}

.ourClients-section__text-container {
  display: inline-flex;
  gap: 1.2rem;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.ourClients-section__info-container {
  text-align: center;
}
