.blog-section {
  margin-top: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.95),
      rgba(207, 198, 205, 0.1)
    ),
    url(../../assets/BG22.jpg);
  background-size: cover;
}

.blog-section__content {
  /* margin-top: -50px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.blog-section__blogVideo {
  width: 50%;
}

.blog-section__video {
  width: 100%;
}

.blog-section__header {
  font-size: 4rem;
  color: rgb(32, 81, 145);
  text-align: center;
  font-family: Hayah;
}

.blog-section__cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 9vw;
  width: 50%;
  /* margin-top: 200px; */
}

/* .blog-section__cards-container div:nth-child(2) {
    margin-left: 50px;
} */

.blog-section__card {
  width: 40%;
  text-align: right;
  cursor: pointer;
  transition: all 0.2s;
}

.blog-section__card__img {
  width: 100%;
  height: 30rem;
  /* height: 100%; */
  /* height: 300px; */
}

.blog-section__card__text {
  font-size: 3rem;
  font-weight: bold;
  font-family: Arabic;
}

.blog-section__card:hover {
  transform: translateY(-10px);
}

.blog-section__card:hover .blog-section__card__text {
  color: rgb(32, 81, 145);
}

@media only screen and (max-width: 75em) {
  .blog-section__blogVideo {
    width: 100%;
  }
  .blog-section__cards-container {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .blog-section__blogVideo {
    width: 100%;
  }
  .blog-section__cards-container {
    width: 100%;
  }
}
